body {
    width: 100%;
    font-family: Verdana;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    background-image:url('../img/Back.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0 auto;
    margin-top: 5%;
    padding: 0 ;
}

 /*To remove IE issue of borders */   
 a {outline : none;}
 a img {outline : none;}
 img {border : 0;}

/* this style is to keep the content in the center of the page */
.alignCenter {
    max-width: 400px;
    margin: auto;
    min-height: 150px;
    padding: 10px 30px 20px 30px;
     /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

    /* rounded corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px; 
    border-radius: 7px;

     background: url('../img/front.jpg') repeat-x top left;
}